@import (less) "./fn.less";
@import (less) "./normalize.css";

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#main {
    background: #f7f7f9;
    overflow: hidden;
}
#navigation {
    border-right: 1px solid #eee;
    h2 {
        font-size: 14px;
        padding: 8px 0 8px 4px;
        border-bottom: 1px solid #dcdcdc;
    }
    li {
        padding: 0 0 8px 4px;
        a {
            display: block;
        }
    }
}
#content {
    background: white;
    color: black;
    margin-bottom: -999px;
    padding-bottom: 999px;
}