@import (less) "./fn.less";
@import (less) "./normalize.css";
@import (less) "./highlight.less";

// ul, li {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

@font-face {
  font-family: 'PWYummyDonuts';

  src: url('../fonts/PWYummyDonuts.ttf');
}

#main {
    background: #f7f7f9;
    // overflow: hidden;
}
#navigation {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    h1 {
        font-family: "PWYummyDonuts";
        font-size: 48px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    h2 {
        font-size: 16px;
        padding: 8px 0 8px 4px;
        border-bottom: 1px solid #dcdcdc;
    }
    li {
        padding: 0 0 8px 4px;
        a {
            display: block;
        }
    }
    .navbar-toggle {
        margin: 0;
        margin-top: -9px;
        cursor: pointer;
    }
    .gh-ico {
        background-color: #eee;
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#eee));
        background-image: -webkit-linear-gradient(top,#fcfcfc 0,#eee 100%);
        background-image: -moz-linear-gradient(top,#fcfcfc 0,#eee 100%);
        background-image: -ms-linear-gradient(top,#fcfcfc 0,#eee 100%);
        background-image: -o-linear-gradient(top,#fcfcfc 0,#eee 100%);
        background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
        background-repeat: no-repeat;
        border: 1px solid #d5d5d5;
        padding: 2px 5px 2px 4px;
        color: #333;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 10px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;

        &:hover {
            text-decoration: none;
            background-color: #ddd;
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(100%,#ddd));
            background-image: -webkit-linear-gradient(top,#eee 0,#ddd 100%);
            background-image: -moz-linear-gradient(top,#eee 0,#ddd 100%);
            background-image: -ms-linear-gradient(top,#eee 0,#ddd 100%);
            background-image: -o-linear-gradient(top,#eee 0,#ddd 100%);
            background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
            border-color: #ccc;
        }
    }
}
#content {
    .box_shadow(-1px 0 5px #eee);
    border-left: 1px solid #eee;
    background: white;
    color: black;
    // margin-bottom: -999px;
    // padding-bottom: 999px;
    padding-top: 15px;
}

.markdown-body {
    h1 {
        padding-bottom: 0.3em;
        font-size: 2.25em;
        line-height: 1.2;
        border-bottom: 1px solid #eee;
        margin-bottom: 16px;
        font-weight: bold;
    }
    em {
        font-weight: bold;
    }
    h3 {
        margin-bottom: 15px;
    }
    .lang-shell {
        background: #000;
        color: white;
        display: block;
        &:first-letter {
            color: grey;
        }
    }
}